*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
}
.hero{
  text-align: center;
}
.hero-social-links{
  margin-top: 12px;
  margin-bottom: 16px;
}
.social-link{
  padding: 5px;
  background: rgb(0,172,238);
  margin-right: 8px;
  color: white;
}
.title{
  color: white;
  font-size: 48px;
}
ul{
  margin-top: 40px;
  list-style: none;
}
li a{
  color: white;
  padding: 4px 8px;
  float: left;
  margin-right: 16px;
}
li a:hover{
  border-radius: 0.3em;
  background: rgb(248,140,0);
  transition: .4s;
}
.blog{
  padding: 5px 10px;
  box-shadow : 0 0 0 1px rgba(0,0,0,.06);
}
.blog-photo{
  margin-top: 5px;
}
.blog-photo img{
  max-width: 630px;
  width: 100%;
  max-height: 275px;
}
.blog-photo2 img{
  max-width: 630px;
  width: 100%;
}
.blog-text{
  text-align: justify;
}
.blog-date{
  text-align: right;
  color: grey;
  margin: 12px 0 12px 0;
}
.read{
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #428bca;
  border-color: #428bca;
  color: white;
}
.comment-respond{
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
}
.comment-form{
  padding: 10px;
}
.comment-notes{
  margin-top: 15px;
}
#comment{
  width: 100%;
  padding: 5px;
}
.comment-form-author , .comment-form-email{
  display: inline-block;
  margin-top: 5px;
}
.comment-form-email{
  margin-left: 15px;
}
#author , #email{
  height: 25px;
  padding: 3px;
}
.form-submit{
  display: inline-block;
  margin-top: 5px;
  margin-left: 15px;
}
#submit{
  color: white;
  background-color: #0cb73d;
  padding: 6px;
  border-radius: 5px;
}
a{
  color: black;
  text-decoration: none;
}
.contain{
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
}
.yorum{
  padding: 5px 10px;
  box-shadow : 0 0 0 1px rgba(0,0,0,.06);
}
.yorum-isim{
  text-align: left;
  font-size: 12pt;
}
.yorum-date{
  text-align: right;
  color: grey;
  margin: 12px 0 12px 0;
}
.yorum-text{
  font-size: 10pt;
  margin-top: 3px;
  text-align: justify;
}
.yanit{
  margin-top: 3px;
  float: left;
  font-size: 8pt;
  color: #007bff;
}

footer{
  text-align: center;
  background-color: black;
  min-height: 96px;
  line-height: 96px;
  height: auto;
}
footer p a{
  color: white;
  text-decoration: none;
}
