*{
	margin: 0;
	font-family: "Times New Roman", Times, serif;
}
body{
	background-color: #eff0f3;
}
.header{
	width: 100%;
	margin: 0 auto;
	background-color: #2c3742;
}
.logo-title{
	max-width:1300px;
	width: 100%;
	display: block;
	margin: 0 auto;
	min-height: 72px;
	height: 100%;
}
.logo{
	color: white;
	float: left;
	margin-top: 12px;
	max-width:300px;
	width: 100%;
	padding: 5px;
	text-align: center;
}
.nav{
	float: right;
	margin-top: 24px;
	max-width:136px;
	width: 100%;
	text-align: left;
}
.nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav li{
	width: 75%;
}
.nav ul li a{
	text-decoration: none;
	display: block;
	color: white;
	text-align: center;
	padding: 5px;
} 
.nav ul li ul{
	display: none;
}
.nav ul li ul li{
	width: 100%;
}
.nav ul li:hover ul{
	display: block;
}
.nav ul li ul li a{
	background: rgba(86, 101, 115,0.5);
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid #333;
	font-size: .8em;
}
.nav li a:hover{
	background: rgb(248,140,0);
	transition: .5s;
}
.container{
	width: 100%;
	min-height: 300px;
	height: 100%;
	margin-bottom: 250px;
}
.sidebar-box{
	background-color: white;
	float: left;
	margin-top: 24px;
	margin-left: 12px;
	max-width: 232px;
	width: 100%;
	border: 1px solid gray;
	border-radius: 0.5em;
}
.sidebar{
	margin: 0 auto;
	max-width:196px;
	width: 100%;
	text-align: center;
}
.sidebar ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar li{
	width: 100%;
	padding: 5px;
	border-bottom: 1px dashed #eee;
}
.sidebar ul li a{
	text-decoration: none;
	display: block;
	font-weight: bold;
	color: grey;
	text-align: center;
	padding: 5px;
} 
.sidebar ul li a:hover{
	color: black;
	transition: 0.1s;
}
.right{
	margin-right: 50px;
	float: right;
	background-color: white;
	max-width: 1100px;
	width: 100%;
	margin-top: 24px;
	border-radius: 0.5em;
}
.panel-heading{
	width: 100%;
	background-color: #428bca;
	border-bottom:1px solid black;
}
.panel-heading h3{
	width: 100%;
	padding: 5px 25px;
	color: white;
}
.panel-info{
	box-shadow: 1px 1px 3px #ccc;
	border-radius: 0.5em;
	background-color: white;
	max-width: 1050px;
	width: 100%;
	min-height: 100px;
	height: 100%;
	margin: 25px 0 25px 25px;
}
.heading h3{
	border-bottom:1px solid black;
	background-color: #d9edf7;
	width: 100%;
	color: black;
}
.heading p{
	margin-top: 24px;
}
table{
	max-width: 1050px;
	width: 100%;
}
table th{
	border-bottom: 1px solid black;
}
form{
	padding: 5px;
	max-width: 1050px;
	width: 100%;
}
.column{
	width: 100%;
	padding: 5px;
}
.form-control{
	max-width: 1000px;
	width: 100%;
	padding: 3px;
}
.insert{
	max-width: 60px;
	width: 100%;
	padding: 4px 2px;
	background-color: #428bca;
	color: white;
}
.insert-button{
	float: right;
	width: 100px;
	padding: 10px;
	margin-top: 10px;
}
.update{
	max-width: 60px;
	width: 100%;
	padding: 4px 2px;
	background-color: #428bca;
	color: white;
}
.delete{
	max-width: 30px;
	width: 100%;
	margin-left: 15px;
	padding: 4px 2px;
	background-color: red;
	color: white;
}
.button{
	float: right;
	margin-top: 15px;
	margin-bottom: 10px;
}
.alert{
	width: 300px;
	height: 75px;
	position: absolute;
	margin: auto 600px;
}
.alert-success{
	padding: 15px;
	background-color: #dff0d8;
}
.alert-warning{
	padding: 15px;
	background-color: #fcf8e3;
}
.alert-danger{
	padding: 15px;
	background-color: #f2dede;
}
footer{
	width: 100%;
	text-align: center;
	background-color: #2c3742;
	min-height: 96px;
	line-height: 96px;
	height: auto;
}
.foot a{
	color: white;
	text-decoration: none;
}